<body>
    <div>
      <h1 class="animated fadeInDown mb-4">Understanding a Candlestick Chart</h1>
    </div>
    <div class="row">
        <div class="column animated fadeInLeft">
            <img height="300" width="350" src="http://www.daytradingcoach.com/Images/dissec25.gif" class="rounded float-right"
            alt="placeholder">
        </div>
        <div class="column animated fadeInRight">
            <h1>Intervals</h1>
            <ul style="list-style-type:none">
                <li style="font-family:fantasy" style="font-size:160%">Each individual Candlestick accounts for a
                    specific amount of time. Candlesticks can represent days, hours, or months depending on your time range. </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column animated fadeInLeft">
            <h1>Candlesticks</h1>
            <ul style="list-style-type:none">
                <li style="font-family:fantasy" style="font-size:160%">High: Highest point of the market</li>
                <li style="font-family:fantasy" style="font-size:160%">Low: Lowest point of the market</li>
                <li style="font-family:fantasy" style="font-size:160%">Open: Opening point of the market</li>
                <li style="font-family:fantasy" style="font-size:160%">Close: Closing point of the market</li>
            </ul>
        </div>
        <div class="column1 animated fadeInRight">
            <img height="300" width="350" alt="Candlestick chart scheme 03-en" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Candlestick_chart_scheme_01-en.svg/512px-Candlestick_chart_scheme_01-en.svg.png">
        </div>
    </div>
    <div class="row">
        <div class="column animated fadeInLeft">
            <img img height="300" width="350" alt="placeholder" src=" https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Candlestick_chart_scheme_03-en.svg/512px-Candlestick_chart_scheme_03-en.svg.png"
                class="rounded float-right">
        </div>
        <div class="column animated fadeInRight">
            <h1>Bullish & Bearish</h1>
            <p style="font-family:fantasy" style="font-size:160%">A green candlestick represents growth in the market.</p>
            <p style="font-family:fantasy" style="font-size:160%">A red candlestick represents a decline in the market.</p>
        </div>
    </div>
</body>