.view {
    background: url("https://tickertapecdn.tdameritrade.com/assets/images/pages/lg/tt17_12_12_f1-candlestick-chart-basics-orig.jpg")no-repeat center center;
    background-size: cover;
    height: 115vh;
}