<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark green" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="">WickData <img src="../../assets/images/logo.png"><span> by Team Wicks</span></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav">
            <li routerLink="" routerLinkActive="nav-item active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link waves-light" mdbWavesEffect>Home</a>
            </li>
            <li routerLink="weather/oneday" [ngClass]="{'nav-item active': sevenDay.isActive || oneDay.isActive || oneMonth.isActive}">
                <a class="nav-link waves-light" mdbWavesEffect>Weather</a>
            </li>
            <li routerLink="flight" routerLinkActive="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Flight</a>
            </li>
            <li routerLink="about" routerLinkActive="nav-item active"> 
                <a class="nav-link waves-light" mdbWavesEffect>Info</a>
            </li>
        </ul>
    </links>
    <links>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-light" href='https://github.com/Peroshki/WickData' mdbWavesEffect><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<a routerLink="weather/sevenday" routerLinkActive #sevenDay="routerLinkActive" style="display: none"></a>
<a routerLink="weather/oneday" routerLinkActive #oneDay="routerLinkActive" style="display: none"></a>
<a routerLink="weather/onemonth" routerLinkActive #oneMonth="routerLinkActive" style="display: none"></a>