mdb-navbar {
    mdb-navbar-brand{
        a {
            font-size: 30px;

            span {
                font-size: 11px;
                padding-right: 15px;
            }
        }

        img {
            height: 5%;
            width: 5%;
        }
    }

    links {
        padding-left: 9.5%;

        ul {
            &.nav-flex-icons{
                margin-left:auto; 
                margin-right:0;
            }

            li {
                padding-right: 10px;

                a {
                    color: white;
                }
            }
        }
    }
}